.projectSection {
    max-width: 98.5vw;
    min-height: 100vh;
    background-image: url("../assets/thames.jpg");
    background-size: 100%;
    background-position: right;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.projectHeader {
    text-align: center;
}
.projectContainer {
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 3rem; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@media only screen and (max-width: 1000px) {
    .projectSection {
        background-size: cover;
    }
}