.splashHeader {
    font-size: 7rem;
    margin: 0;
    color: var(--naples-yellow);
    font-family: 'Cormorant Garamond', serif;
    font-weight: 100;
    font-style: italic;
 }
 
 .splash {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 98.5vw;
     min-height: 100vh;
     background-image: url("../assets/storm.jpg");
     background-size: 130%;
     background-position: right;
     background-attachment: fixed;
     overflow: none;
 }
 
 .intro {
     display: flex;
     justify-content: flex-end;
     align-items: center;
 
 }
 
 .introText {
     display: flex;
     flex-direction: column;
     justify-content: center;
     height: auto;
     max-width: 50%;
     margin: 20px;
 }

 @media only screen and (max-width: 1300px) {
    .splash {
        width: 100%;
        background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../assets/storm.jpg");
        background-position: center;
        background-size: cover;
    }
 }

 @media only screen and (max-width: 1000px) {
    .splashHeader {
        font-size: 5rem;
        margin: 0;
     }

    .splash {
        width: 100%;
        background-position: center;
        background-size: cover;
    }
    
    .intro {
        margin-top: 15%;
        justify-content: center;
    
    }
    
    .introText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
        max-width: 80%;
        margin: 20px;
    }
 }